@model IEnumerable<APICrudMvc.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h4>Lista de productos</h4>
<br />

<p>
    <a asp-action="Create" role="button" class="btn btn-success">Nuevo registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
             <td>
                <a asp-action="Edit" asp-route-idProducto="@item.idProducto" role="button" class="btn btn-info">Editar</a> |
                    <a asp-action="Delete" asp-route-idProducto="@item.idProducto" role="button" class="btn btn-danger">Eliminar</a>
             </td>
        </tr>
}
    </tbody>
</table>
