@model IEnumerable<APICrudMvc.Models.Seccion>

@{
    ViewData["Title"] = "Index";
}

<h4>Lista de secciones</h4>

<br/>

<p>
    <a asp-action="Create" role="button" class="btn btn-success">Nuevo registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idSeccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idSeccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-idSeccion="@item.idSeccion" role="button" class="btn btn-info">Editar</a> |
                <a asp-action="Delete" asp-route-idSeccion="@item.idSeccion" role="button" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
